*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register{
  font-size: 30px;
}
/* navigation bar sheet */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
nav{
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover{
  background-color: var(--accent-color);
  color: #00ffa2;
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 450px){
  
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}


.service{
    color: aliceblue;
}

.service2{
    color: #333;
}
.hidden{
    display: none;
}

/* Whole background system */
.wrapper{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #4856c1;
}
.wrapper h1{
    font-size: 3em;

    margin: 25px;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.card i{
    margin: 20px;
    color: #13dfb3;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    color: #6c757d;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg,
                                   rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg.jpg');
                                    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,
                                 rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg2.jpg');
                                    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,
    rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg3.jpg');
                                    background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg,
    rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg4.jpg');
                                    background-size: cover;
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg,
    rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg5.jpg');
                                    background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg,
    rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg2.jpg');
                                    background-size: cover;
}
.card:nth-child(7):hover{
    background: linear-gradient(45deg,
    rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg2.jpg');
                                    background-size: cover;
}
.card:nth-child(8):hover{
    background: linear-gradient(45deg,
    rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg2.jpg');
                                    background-size: cover;
}
.card:nth-child(9):hover{
    background: linear-gradient(45deg,
    rgba(15, 227, 153, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg2.jpg');
                                    background-size: cover;
}
@media(max-width:991px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}


/* Home navigation system */
header{
    display: flow-root;/*Convert the header section into a flex box container*/
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    height: 10px;
    top: 0;
    width: 100%;
}

.header{
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 1%;
}


.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;    
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #2f00ff;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #e6eae6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(9, 234, 159);
}


/* registration image style sheet */
/* register style sheet */
.registerimg{
    position: absolute;
    bottom: 211px; /* Adjust this value to control vertical positioning */
    left: 10px; /* Adjust this value to control horizontal positioning */
    color: rgb(0, 0, 0); /* Text color */
    padding: 10px; /* Add padding if needed */
    font-size: 26px; /* Adjust the text size */
}
.image1 {
    position: relative;
    width: 98vw; /* Full width of the viewport */
}

.image2 {
    width: 100%;
    height: 500px;
    display: block;
}

.overlay {
    position: absolute;
    top: 50%;  /*button align */
    right: 10%; /* Positioning the button to the right */
    transform: translateY(-50%); /* Vertically center the overlay */
    text-align: right;
}

.service-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #0036f8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.service-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
  .service-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -100px;
    transition: 0.5s;
}
  
  .service-button:hover span {
    padding-right: 25px;
}
  
  .service-button:hover span:after {
    opacity: 1;
    right: 0;
}

@media(max-width:500px){
  .image2{
    height: 300px;
  }
}

